.gt_simplevoteme_table{}
.gt_simplevoteme_table .to_remove{}
.gt_simplevoteme_table .to_remove input{
    text-decoration: line-through;
}

.gt_simplevoteme_table .to_remove a.gt_simplevoteme_vote_remove{
    display: none;
}
.gt_simplevoteme_table .to_remove a.gt_simplevoteme_vote_undo_remove{
    display: block;
}

.gt_simplevoteme_table a.gt_simplevoteme_vote_remove{
    display: block;
}
.gt_simplevoteme_table a.gt_simplevoteme_vote_undo_remove{
    display: none;
}

img.gt_simplevoteme_img,
.wp-list-table img.gt_simplevoteme_custom_img_bad,
.wp-list-table img.gt_simplevoteme_custom_img_neutral,
.wp-list-table img.gt_simplevoteme_custom_img_good
{ width: 32px;   }

div.simplevoteme_admin_list {
    overflow: hidden;
    width: 32px;
    height: 23px;
    line-height: 23px;
}